body, html{
  background-color: rgba(255, 255, 255, 0.804);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
  display: flex;
  background-color: rgb(159, 35, 35);
  position: fixed;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.icon{
  display: none;
}

.navbar a{
  font-size: medium;
  color: black;
  text-decoration: none;
}

.navbar p{
  color: rgba(255, 255, 255, 0.776);
  text-decoration:double;
  font-weight: bolder;
  margin-left: 50px;
  margin-right: 0;
}
.navbar input{
  width: 120px;  
  height: 20px;            
  padding: 10px;             
  font-size: 16px;            
  border: 1px solid #ccc;     
  border-radius: 8px;        
  background-color: #ada8a8;  
  color: #333;               
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); 
  margin-right: 20px;
}
.title{
  font-size: 28px;
  box-shadow: 10px 2px 6px rgba(174, 43, 43, 0.539);
}
.encabezado{
  margin-top: 150px;
}
.encabezado h1{
  font-size: 50px;
  text-align: center;
  color: rgb(169, 101, 101);
}

.links{
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

.links a{
  padding: 1px auto;
  color: #ada8a8;
  text-decoration: none;
}

table{
   border-collapse: collapse;
   border: 1px solid rgb(65, 65, 65) 1px;
   margin: 30px;
   display: flex;
   justify-content: center;
   overflow-x: auto;
   white-space: nowrap;
}

td{
  width: 340px;
  height: 100px;
  border: solid rgb(65, 65, 65) 1px;
  text-align: center;
}

.positivo{
  color: green;
}
.negativo{
  color:red;
}

hr{
  margin: auto 30px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.principal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 3;
  padding-right: 20px;
  padding-left: 20px;
}

.recomendaciones {
  flex: 1.5;
  flex-direction: column wrap;
}
.recomendaciones a{
  text-decoration: solid;
  color:#454444;
}
.img2{
  width: 300px;
  height: auto;
}


.footer p{
  color: aliceblue;
}

.center{
  text-align: center;
  font-size: small;
}
.footer hr{
  margin: 120px 30px 0; 
}

.footer a{
  display: block;
  text-decoration: none;
  color: #ccc;
  margin-left: 40px;
}

.container{
  display: flex;
  flex-direction: column;
}


.footer {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   left:0px;
   bottom:0px;
   height:500px;
   width: 100%;
   background:#999;
}


.form_log{
  margin: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fbfbfb;
  border-radius: 9px;
  border-color: #333;
  box-shadow: 2px 8px 8px 1px rgba(0, 0, 0, 0.2);
}

ul{
  list-style: none;
}
form{
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

li{
  border: 1px solid #ccc;    
  padding: 8px;             
  margin-bottom: 20px;        
  border-radius: 8px;  
  width: 300px; 
}
input{
  margin: 15px;
  height: 25px;
}
legend{
  font-size: 30px;
  color: #454444;
}
form li {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button button:hover {
  background-color: #0056b3;
}
li.button{
  border: none;
}
.mensaje{
 color: red;
 size: 30px;
 padding-left: 12px;
}

@media (max-width: 950px) {
  .navbar a{
    font-size: 80%;
  }
  .navbar p{
    font-size: 80%;
  }
}

@media (max-width: 650px) {
  .recomendaciones {
    display: none;
  }
  td{
    height: auto;
  }
  .links{
    font-size: 55%;
  }
  .navbar a{
    display: none;
  }
  .navbar input{
    display: none;
  }
  .navbar p{
    font-size: 15px;
  }
  .navbar{
    justify-content: start;
  }
  .icon{
    display:initial;
    color: #b6afaf;
    margin-left: auto; 
  }
  .form_log{
    margin: 10px;
  }
}
